{% extends 'dashboard.html' %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Citizen</h2>
    </div>
</div>
<div class="row justify-content-md-end mb-3">
    <div class="col-md-6">
        <form method="POST">
            {{  form.hidden_tag() }}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        {{ form.start_from_cnic.label(class='form-label') }}
                        {{ form.start_from_cnic(class='form-control') }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        {{ form.range.label(class='form-label') }}
                        {{ form.range(class='form-control') }}
                    </div>
                </div>
            </div>
            {{ form.submit(class='btn btn-primary float-end') }}
        </form>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-6">
        <p>total records: {{data.count}}</p>
    </div>
    <div class="col-md-6">
        {% if data.count > 0 %}
            <nav class="float-end">
              <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="{{ url_for('dashboard.citizens', page=1) }}">First</a></li>
                  <li class="page-item"><a class="page-link" href="{{ url_for('dashboard.citizens', page=page-1) }}">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="{{ url_for('dashboard.citizens', page=page+1) }}">Next</a></li>
                  <li class="page-item"><a class="page-link" href="{{ url_for('dashboard.citizens', page=(data.count//20)) }}">Last</a></li>
              </ul>
            </nav>
        {% endif %}
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>CNIC</th>
                    <th>NTN</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data.list %}
                <tr>
                    <td>{{d.cnic}}</td>
                    <td>{{d.ntn}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row mb-3 justify-content-end">
    <div class="col-md-6">
        {% if data.count > 0 %}
            <nav class="float-end">
              <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="{{ url_for('dashboard.citizens', page=1) }}">First</a></li>
                  <li class="page-item"><a class="page-link" href="{{ url_for('dashboard.citizens', page=page-1) }}">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="{{ url_for('dashboard.citizens', page=page+1) }}">Next</a></li>
                  <li class="page-item"><a class="page-link" href="{{ url_for('dashboard.citizens', page=(data.count//20)) }}">Last</a></li>
              </ul>
            </nav>
        {% endif %}
    </div>
</div>
{% endblock content %}
