{% extends 'dashboard.html' %}
{% block content %}
<div class="row p-2">
    <div class="col">
        <h2>Electiricity Provider Companies</h2>
    </div>
    <div class="col">
        <a class="btn btn-dark float-end" href="{{ url_for('electricity_provider_companies.form') }}">Add Electricity Provider Company</a>
    </div>
</div>
<div class="row p-2">
    <div class="col-md-6">
        <p>total records: {{data.count}}</p>
    </div>
    <div class="col-md-6">
        {% if data.count > 0 %}
            <nav class="float-end">
              <ul class="pagination">
                  <li class="page-item"><a class="page-link bg-outline-dark text-dark" href="{{ url_for('electricity_provider_companies.get_list', page=1) }}">First</a></li>
                  <li class="page-item"><a class="page-link bg-outline-dark text-dark" href="{{ url_for('electricity_provider_companies.get_list', page=page-1) }}">Previous</a></li>
                  <li class="page-item"><a class="page-link bg-outline-dark text-dark" href="{{ url_for('electricity_provider_companies.get_list', page=page+1) }}">Next</a></li>
                  <li class="page-item"><a class="page-link bg-outline-dark text-dark" href="{{ url_for('electricity_provider_companies.get_list', page=(data.count//20)) }}">Last</a></li>
              </ul>
            </nav>
        {% endif %}
    </div>
</div>
<div class="row p-2">
    <div class="col">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>CODE</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data.list %}
                <tr>
                    <td>{{d.name}}</td>
                    <td>{{d.code}}</td>
                    <td class="">
                        <div class="d-flex gap-2 float-end">
                            <a class="btn btn-outline-danger" href="{{ url_for('electricity_provider_companies.delete', _id=d._id) }}">delete</a>
                            <a class="btn btn-outline-dark" href="{{ url_for('electricity_provider_companies.form', _id=d._id) }}">edit</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row p-2">
    <div class="col-md-6">
        <p>total records: {{data.count}}</p>
    </div>
    <div class="col-md-6">
        {% if data.count > 0 %}
            <nav class="float-end">
              <ul class="pagination">
                  <li class="page-item"><a class="page-link bg-outline-dark text-dark" href="{{ url_for('electricity_provider_companies.get_list', page=1) }}">First</a></li>
                  <li class="page-item"><a class="page-link bg-outline-dark text-dark" href="{{ url_for('electricity_provider_companies.get_list', page=page-1) }}">Previous</a></li>
                  <li class="page-item"><a class="page-link bg-outline-dark text-dark" href="{{ url_for('electricity_provider_companies.get_list', page=page+1) }}">Next</a></li>
                  <li class="page-item"><a class="page-link bg-outline-dark text-dark" href="{{ url_for('electricity_provider_companies.get_list', page=(data.count//20)) }}">Last</a></li>
              </ul>
            </nav>
        {% endif %}
    </div>
</div>
{% endblock content %}
